
params {
    custom_config_version      = 'brainvar_graph 0.4.1'
    config_profile_name        = 'brainvar_graph'
    config_profile_description = 'Genotype SNPs, STRs, and SVs using graphs. Able to run in stub w/o errors.'

    // Mandatory arguments
    //input = "${projectDir}/test_two_sm_samples.csv"      // Future items: range_of_sizes.csv
    input = "${projectDir}/tests/csv/3.0/fastq_single.csv"

    // Genome and references options
    // future: chm13/jun1/maf_cutoff/hprc-jun1-mc-chm13-minaf.0.1
    graph                   = "${projectDir}/local_references/genomes/chm13/jun1/maf_cutoff/hprc-jun1-mc-chm13-minaf.0.1.gfa"
    giraffe_chr_names       = "${projectDir}/local_references/genomes/chm13/jun1/maf_cutoff/hprc-jun1-mc-chm13-minaf.0.1.ref_lengths.txt"
    giraffe                 = "${projectDir}/local_references/genomes/chm13/filtered/test-hprc-v1.0-mc-chm13-minaf.0.1.giraffe.gbz"
    giraffe_dist            = "${projectDir}/local_references/genomes/chm13/jun1/maf_cutoff/hprc-jun1-mc-chm13-minaf.0.1.dist"
    giraffe_min             = "${projectDir}/local_references/genomes/chm13/jun1/maf_cutoff/hprc-jun1-mc-chm13-minaf.0.1.min"
    giraffe_snarls          = "${projectDir}/local_references/genomes/chm13/jun1/maf_cutoff/hprc-jun1-mc-chm13-minaf.0.1.snarls"
    giraffe_xg_index        = "${projectDir}/local_references/genomes/chm13/jun1/maf_cutoff/hprc-jun1-mc-chm13-minaf.0.1.xg"
    giraffe_gbwtgraph       = "${projectDir}/local_references/genomes/chm13/jun1/maf_cutoff/hprc-jun1-mc-chm13-minaf.0.1.gg"
    giraffe_gbwt            = "${projectDir}/local_references/genomes/chm13/jun1/maf_cutoff/hprc-jun1-mc-chm13-minaf.0.1.gbwt"
    fasta                   = "${projectDir}/local_references/genomes/chm13/jun1/maf_cutoff/hprc-jun1-mc-chm13-minaf.0.1.chr_notation.fasta"
    fasta_fai               = "${projectDir}/local_references/genomes/chm13/jun1/maf_cutoff/hprc-jun1-mc-chm13-minaf.0.1.chr_notation.fasta.fai"
    deepvariant_model_data  = "${projectDir}/local_references/deepvariant_models/model.ckpt-364300.data-00000-of-00001"
    deepvariant_model_meta  = "${projectDir}/local_references/deepvariant_models/model.ckpt-364300.index"
    deepvariant_model_index = "${projectDir}/local_references/deepvariant_models/model.ckpt-364300.meta"
    pangenie_model          = "${projectDir}/local_references/pangenie_og_test/1k_calibration_model.pkl"
    panel_vcf               = "${projectDir}/local_references/pangenie_og_test/panel.vcf"
    panel_vcf_bi            = "${projectDir}/local_references/pangenie_og_test/panel_biallelic.vcf"
    str_variant_catalog     = "${projectDir}/local_references/tandem_repeats/chm13.STRcatalog.expansionhunter.json"
    // fasta = "${projectDir}/Homo_sapiens_assembly38.fasta"
    // fasta_fai = "${projectDir}/Homo_sapiens_assembly38.fasta.fai"

    igenomes_ignore = false
    save_reference  = false // Built references not saved
    schema_ignore_params = 'genomes,test_data,snpeff_version,vep_version'
    
    // Main options
    no_intervals           = true       // Intervals will be built from the fasta file
    nucleotides_per_second = 1000       // Default interval size
    tools                  = 'deepvariant,expansionhunter,pangenie'
    skip_tools             = 'baserecalibrator,baserecalibrator_report'
    split_fastq            = 0   // FASTQ files will not be split by default by FASTP
    
    // Trim settings
    trim_fastq          = false // No trimming (?) - variable quality trimming messes with deduplication
    clip_r1             = 0
    clip_r2             = 0
    three_prime_clip_r1 = 0
    three_prime_clip_r2 = 0
    trim_nextseq        = 0
    save_trimmed        = false
    save_split_fastqs   = false

    // UMI settings
    umi_read_structure    = null        // no UMI

    // Alignment settings
    aligner            = 'giraffe'   // Default is bwa-mem, bwa-mem2, dragmap, and giraffe can be used too
    use_gatk_spark     = null        // GATK Spark implementation of their tools in local mode not used by default
    save_bam_mapped    = false       // Mapped BAMs not saved
    save_output_as_bam = false       // Output files from preprocessing are saved as bam and not as cram files
    seq_center         = null        // No sequencing center to be written in read group CN field by aligner
    seq_platform       = 'ILLUMINA'  // Default platform written in read group PL field by aligner
    realign_indels_wiggle_room = 150 // Number of bases on either side of an indel added by bedtools slop to give room for ABRA2 to realign indels
    
    // Variant Calling Settings
    only_paired_variant_calling = false // if true, skips germline variant calling for normal-paired samples
    ignore_soft_clipped_bases = false   // no --dont-use-soft-clipped-bases for GATK Mutect2
    joint_germline = false              // g.vcf & joint germline calling are not run by default if HaplotypeCaller is selected


    // Annotation Settings
    vep_out_format      = 'vcf'

    // MultiQC options
    multiqc_config         = null
    multiqc_title          = null
    max_multiqc_email_size = '25.MB'

    // Boilerplate options
    outdir                     = 'brainvar_graph_test'
    tracedir                   = "${params.outdir}/pipeline_info"
    publish_dir_mode           = 'copy'
    validate_params            = true
    show_hidden_params         = false
    schema_ignore_params       = 'genomes,snpeff_version,vep_version'
    enable_conda               = false
    
    // Max resource options
    // Defaults only, expecting to be overwritten
    max_memory                 = '900.GB'
    max_cpus                   = 240
    max_time                   = '240.h'
}

docker.enabled         = true
docker.userEmulation   = { params.use_gatk_spark ? false : true }.call()
singularity.enabled    = false
podman.enabled         = false
shifter.enabled        = false
charliecloud.enabled   = false
fixOwnership = true
docker.temp             = '/home/lalli/nf_docker_tmp'
